*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu{
    position: fixed;
    display: inline-flex;
    background-color: #94da2c;
    width: 100%;
    padding: 10px;
    color: white;
}

.back{
    width: 100%;
    height: 695px;
    background-color: rgb(0,0, 0, 0.1);
}

.menu nav ul li{
    display: inline;
    padding: 10px;
}

.menu nav ul li:hover{
    background-color: white;
    color: #94da2c;
    transition: 0.3s;
}

.menu nav ul{
    position: absolute;
    right: 20px;
    margin: 8px;
}

.alinhamento{
    display: flex;
    padding: 20px;
}

.alinhamento h3{
    margin-bottom: 10px;
}

footer{
    background-color: #94da2c;
    color: white;
}

.deepFooter{
    text-align: center;
    padding: 10px;
    background-color: #83be29;
}

nav ul{
    list-style: none;
}

.alinhamento .align01{
    width: 33.33%;
}
.alinhamento .align02{
    width: 33.33%;
}
.alinhamento .align03{
    width: 33.33%;
}

main{
    padding: 20px;
    color: #94da2c;
}

.card{
    /* border: 1px solid #94da2c; */
    margin: 20px;
    width: 360px;
    /* box-shadow: 0 4px 4px #4c5c4948, 0 6px 20px 0 #4c5c4948; */
}

.card .card-content, .card-img{
    padding: 5px;
}

.card .card-content{
    margin-top: 10px;
}

button{
    padding: 10px;
    background-color: #94da2c;
    border: none;
    margin-top: 20px;
    color: white;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
}

.paginacao{
    display: inline;
}

.paginacao a{
    padding: 6px;
    text-align: center;
}

.paginacao a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.paginacao a:nth-of-type(2){
    background-color: #94da2c;
    color: white;
}

.paginacao{
    margin-left: 40%;
}